

@font-face {
    font-family: 'bromello';
    src: url(../fonts/bromello/bromello.ttf);
}

@font-face {
    font-family: 'farray';
    src: url(../fonts/FARRAY.otf);
}

@font-face {
    font-family: 'mohave';
    src: url(../fonts/Mohave.otf);
}

@font-face {
    font-family: 'mohave-bold';
    src: url(../fonts/Mohave-Bold.otf);
}
@font-face {
    font-family: 'Nexa-light';
    src: url(../fonts/NexaLight.otf);
}
@font-face {
    font-family: 'Nexa-bold';
    src: url(../fonts/NexaBold.otf);
}

