.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.titulo-seccion {
  font-family: 'mohave-bold';
  color: #fff;
  white-space: pre;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 20px; }

@font-face {
  font-family: 'bromello';
  src: url(../fonts/bromello/bromello.ttf); }
@font-face {
  font-family: 'farray';
  src: url(../fonts/FARRAY.otf); }
@font-face {
  font-family: 'mohave';
  src: url(../fonts/Mohave.otf); }
@font-face {
  font-family: 'mohave-bold';
  src: url(../fonts/Mohave-Bold.otf); }
@font-face {
  font-family: 'Nexa-light';
  src: url(../fonts/NexaLight.otf); }
@font-face {
  font-family: 'Nexa-bold';
  src: url(../fonts/NexaBold.otf); }
#fp-nav {
  top: 85%; }

#fp-nav ul li a span {
  position: absolute;
  z-index: 1;
  width: 17px;
  height: 3px;
  border: 0;
  background: #FF5539;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px; }

#fp-nav ul li a span {
  border-radius: 0%; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
  background: #fff;
  border-radius: 0%;
  width: 23px;
  height: 3px; }

#fp-nav ul li:hover a span {
  width: 23px;
  height: 3px;
  background: #FF5539; }

#fp-nav ul li .fp-tooltip, #fp-nav ul li:hover .fp-tooltip {
  font-family: 'Nexa-bold';
  color: #FF5539;
  top: -7px; }

#fp-nav.fp-show-active a.active + .fp-tooltip {
  color: #fff; }

#contact {
  background-image: url(../img/fondo-contacto00-01.jpg);
  background-size: cover; }

.portada {
  height: 100%;
  width: 100%;
  background-image: url(../img/portadaBG.png);
  background-size: cover; }
  .portada img.nombre-titulo {
    margin-left: 30%;
    width: 40%;
    margin-bottom: -30px; }
  .portada .dev {
    text-align: center; }
    .portada .dev h1 {
      font-family: 'mohave-bold';
      color: #fff;
      white-space: pre;
      text-align: center;
      font-size: 45px;
      display: inline-block; }
  .portada button {
    display: inline-block;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    padding: 2px 20px;
    background-color: rgba(35, 33, 33, 0.55); }
    .portada button .btn-ver {
      color: #FF5539;
      padding-top: 6px;
      font-size: 20px;
      font-family: 'nexa-bold'; }
  .portada .redes {
    margin-left: 5%; }
    .portada .redes a {
      color: #08A8E2;
      text-decoration: none;
      font-size: 57px;
      padding: 15px; }

#portfolio {
  height: 100%;
  width: 100%;
  background-image: url(../img/fondoport.jpg);
  background-size: cover; }
  #portfolio .contenedor-port {
    margin: 35px 80px 5px; }
    #portfolio .contenedor-port .variable-width a {
      color: transparent; }
    #portfolio .contenedor-port .variable-width .celular, #portfolio .contenedor-port .variable-width .celular-sin {
      position: relative;
      width: 340px;
      text-align: center; }
      #portfolio .contenedor-port .variable-width .celular img, #portfolio .contenedor-port .variable-width .celular-sin img {
        width: 60%; }
      #portfolio .contenedor-port .variable-width .celular .captura, #portfolio .contenedor-port .variable-width .celular .qr, #portfolio .contenedor-port .variable-width .celular-sin .captura, #portfolio .contenedor-port .variable-width .celular-sin .qr {
        position: absolute;
        top: 0;
        left: 0; }
    #portfolio .contenedor-port .variable-width .slick-prev, #portfolio .contenedor-port .variable-width .slick-next, #portfolio .contenedor-port .variable-width .slick-arrow {
      display: none !important; }
    #portfolio .contenedor-port .variable-width .slick-dots li {
      display: inline-block; }
      #portfolio .contenedor-port .variable-width .slick-dots li button {
        border-radius: 20px;
        border: none;
        background-color: #FF5539;
        margin: 10px 8px 0px;
        content: ' '; }
    #portfolio .contenedor-port .slide4 .celular-sin {
      width: 893px;
      margin-right: -170px; }
  #portfolio #fp-nav ul li a span {
    width: 17px;
    height: 3px;
    border: 0;
    background: #fff; }
  #portfolio #fp-nav ul li a.active span, #portfolio #fp-nav ul li:hover a.active span {
    background: #ddd; }
  #portfolio #fp-nav ul li:hover a span {
    background: #fff; }

#skills {
  background: linear-gradient(to right, #F27156 0%, #F27156 40%, #000000 40%, #E5EAED 40%, #E5EAED 100%); }
  #skills h2 {
    font-family: 'mohave-bold';
    font-size: 56px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; }
  #skills .intro-skills {
    margin: 40px 45px 20px;
    font-family: 'nexa-light';
    font-size: 20px; }
    #skills .intro-skills span {
      font-family: 'nexa-bold'; }
  #skills .habil1 {
    height: 100%; }
    #skills .habil1 .imagen {
      position: relative;
      margin: 0; }
      #skills .habil1 .imagen img {
        position: absolute;
        left: 25%;
        top: 79px;
        width: 40%; }
  #skills .habil2 {
    height: 100%; }
    #skills .habil2 .mitad-hab {
      width: 30%;
      display: inline-block; }
      #skills .habil2 .mitad-hab p {
        margin-bottom: 40px;
        color: #28B5FC; }
    #skills .habil2 .mitad-hab2 {
      width: 60%;
      display: inline-block; }
      #skills .habil2 .mitad-hab2 .progress {
        margin-bottom: 40px; }
        #skills .habil2 .mitad-hab2 .progress .progress-bar {
          background-color: #28B5FC; }

#about {
  background: linear-gradient(to right, #E5EAED 0%, #E5EAED 40%, #000000 40%, #F27156 40%, #F27156 100%); }
  #about h2 {
    text-align: center;
    color: #F74007;
    font-family: 'mohave-bold';
    font-size: 56px;
    margin-top: 50px;
    margin-bottom: 50px; }
  #about .imagen {
    text-align: center;
    max-width: 60%;
    margin-left: 20%; }
    #about .imagen img {
      width: 100%; }
  #about .text-me {
    vertical-align: middle;
    text-align: justify;
    max-width: 60%;
    margin-left: 15%;
    margin-top: 20%; }
    #about .text-me .aboutme {
      font-family: 'nexa-light';
      font-size: 20px; }
      #about .text-me .aboutme .nbold {
        font-family: 'nexa-bold'; }

/*
}
*/
@media (max-width: 768px) {
  .portada img.nombre-titulo {
    margin-left: 10%;
    width: 80%;
    margin-bottom: -30px; } }

/*# sourceMappingURL=main.css.map */
