.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
.titulo-seccion{
	font-family: 'mohave-bold';
	color:#fff;
	white-space: pre;
	text-align: center;
	font-size: 50px;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.portada{
	height: 100%;
	width: 100%;
	background-image: url(../img/portadaBG.png);
	background-size: cover;
	img.nombre-titulo{
		margin-left: 30%;
		width: 40%;
	    margin-bottom: -30px;

	}
	.dev{
		text-align: center;
		h1{
			font-family: 'mohave-bold';
			color:#fff;
			white-space: pre;
			text-align: center;
			font-size: 45px;
			display: inline-block;
		}
	}
	button{
		display: inline-block;
		margin-top: 40px;
		border: none;
		border-radius: 15px;
		padding: 2px 20px;
		background-color: rgba(35, 33, 33, 0.55);
		.btn-ver{
			color: #FF5539;
			padding-top: 6px;
			font-size: 20px;
			font-family: 'nexa-bold';
		}
	}
	.redes{
		margin-left: 5%;
		a{
			color: #08A8E2;
		    text-decoration: none;
		    font-size: 57px;
		    padding: 15px;
		}
	}

}

#portfolio{
	height: 100%;
	width: 100%;
	background-image: url(../img/fondoport.jpg);
	background-size: cover;

	.contenedor-port{
		margin: 35px 80px 5px;
		.variable-width{
			a{
				color: transparent;
			}
			.celular, .celular-sin{
				position: relative;
				width: 340px;
				text-align: center;
				img{
					width: 60%;
				}
				.captura, .qr{
					position: absolute;
					top: 0;
					left: 0;
				}

			}
			
		.slick-prev, .slick-next, .slick-arrow{
			display: none!important;
		}
		.slick-dots li{
			display: inline-block;
			button{
				border-radius: 20px;
			    border: none;
			    background-color: #FF5539;
			    margin: 10px 8px 0px;
			    content: ' ';

			}
		}
		
		}
		.slide1{

		}
		.slide2{
		}
		.slide4{
			.celular-sin{
				width: 893px;
				margin-right:-170px;
			}

		}
		
		.slick-slide{
			margin-left: 65px;
		}
	}
}

#skills{
	background: linear-gradient(to right, #F27156 0%,#F27156 40%,#000000 40%,#E5EAED 40%,#E5EAED 100%);
	h2{
		font-family: 'mohave-bold';
		font-size: 56px;
		margin-top: 50px;
   		margin-bottom: 50px;
		text-align: center;
	}
	.intro-skills{
		margin: 40px 45px 20px;
		font-family: 'nexa-light';
		font-size: 20px;
			span{
				font-family: 'nexa-bold';
			}
	}
	.habil1{
		//background-color: #F27156;
		height: 100%;
		.imagen{
			position: relative;
			margin: 0;
			img{
				position: absolute;
				left: 25%;	
	  	  		top: 79px;
    			width: 40%;
			}			
		}

	}
	.habil2{
		//background-color: #E5EAED;
		height: 100%;
		.tecn{

		}

		.mitad-hab{
			width: 30%;
			display: inline-block;

			p{
				margin-bottom: 40px;
				color: #28B5FC;
			}
		}
		.mitad-hab2{

			width: 60%;
			display: inline-block;
			.progress{
				margin-bottom: 40px;
				.progress-bar{
					background-color: #28B5FC;
				}
			}
		}
		
	}
}
#about{
	background: linear-gradient(to right, #E5EAED 0%,#E5EAED 40%,#000000 40%,#F27156 40%,#F27156 100%);
	h2{
		text-align: center;
		color: #F74007;
		font-family: 'mohave-bold';
		font-size: 56px;
		margin-top: 50px;
   		margin-bottom: 50px;
	}
	.imagen{
		text-align: center;
		max-width: 60%;
		margin-left: 20%;		
		img{
			width: 100%;
		}
	}
	.text-me{
		vertical-align: middle;
		text-align: justify;
	    max-width: 60%;
	    margin-left: 15%;
	    margin-top: 20%;
		.aboutme{
			font-family: 'nexa-light';
			font-size: 20px;
			.nbold{
				font-family: 'nexa-bold';
			}
		}		
	}

}
#contact{
	background-image: url(../img/fondo-contacto00-01.jpg);
	background-size: cover;
}