
.portada{
	height: 100%;
	width: 100%;
	background-image: url(../img/portadaBG.png);
	background-size: cover;
	img.nombre-titulo{
		margin-left: 30%;
		width: 40%;
	    margin-bottom: -30px;

	}
	.dev{
		text-align: center;
		h1{
			font-family: 'mohave-bold';
			color:#fff;
			white-space: pre;
			text-align: center;
			font-size: 45px;
			display: inline-block;
		}
	}
	button{
		display: inline-block;
		margin-top: 40px;
		border: none;
		border-radius: 15px;
		padding: 2px 20px;
		background-color: rgba(35, 33, 33, 0.55);
		.btn-ver{
			color: #FF5539;
			padding-top: 6px;
			font-size: 20px;
			font-family: 'nexa-bold';
		}
	}
	.redes{
		margin-left: 5%;
		a{
			color: #08A8E2;
		    text-decoration: none;
		    font-size: 57px;
		    padding: 15px;
		}
	}

}



