.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
.titulo-seccion{
	font-family: 'mohave-bold';
	color:#fff;
	white-space: pre;
	text-align: center;
	font-size: 50px;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}